.grid {
    width: 945px;
    height: 2050px;
    background-image: url('backgroundv2.png');
    position: relative; 
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 200px;
    height: 200px;
    background-image: url('cloudguy.png');
    position: absolute;
}

.platform {
    width: 250px;
    height: 100px;
    background-image: url('cloud-platform.png');
    position: absolute;
}

.startbutton {
    padding: 15px 32px;
    color: yellow;
    position: absolute;
    display: inline-block;
    text-align: center;

}

